<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Login</h1>
	</div>
	<div class="panel-body">
		<form ng-submit="attemptLogin()">
			<div class="alert alert-danger" ng-if="errorMsg" ng-bind="errorMsg"></div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" ng-model="email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" ng-model="password">
			</div>

			<button class="btn btn-primary" type="submit">Login</button> &nbsp; <a href="/#/register">Don't have an account?</a>
		</form>
	</div>
</div>